#header {
    padding-left:1em;
    background:#090;
    color:#fff;
    height:70px;
    padding:10px;
    border-radius:30px;
}

#header h1 {
    display:inline-block;
    margin:10px;
    margin-left:30px;
    font-family:Aerolite;
    font-size:40px;
}

#header h1 a {
    text-decoration:none;
}

#header ul {
    padding-top:10px;
    font-family:Sans;
    float:right;
}

#header ul li {
    display:inline-block;
    margin-right:1em;
}

#header a {
    color:#fff;
}

#body table {
    width:100%;
}

@font-face {
  font-family: Aerolite;
  src: url(/fonts/AeroliteCPone.otf);
}

body {
    font-family:Sans;
}