
<h1>Was ist das hier?</h1>

filterbubble.de ist die Filterblase für Nachrichtenleser. Viele von
uns stehen vor dem Problem, aus einer Unzahl von Nachrichtenseiten die
für sie interessanten herauszusuchen. Filterbubble hilft dabei: es
versucht, interessante von uninteressanten Nachrichten zu
unterscheiden. Es orientiert sich dabei am Inhalt der Texte und daran,
dass das Interesse sich üblicherweise in gewissen Gruppen aufteilen
läßt. Newsseiten schlagen häufig eine thematische Gruppierung vor,
aber diese entspricht nur einem gewissen Teil des Interesses. Wer sich
für Fußball interessiert, mag im Sportteil einer Zeitung vielleicht
keine Handball-Nachrichten lesen.

<h1>Wie funktioniert das ganze?</h1>

Ähnlich wie die Spamfilter in aktuellen
Email-Programmen. Genaugenommen: vermittels der Theorien der Herren
Bayes und Markov. Es gibt eine Software namens <a
href='http://en.wikipedia.org/wiki/CRM114_%28program%29'>crm114</a>,
die ich verwende, um Texte in Kategorien zu sortieren. Es lernt
dabei anhand der Hinweise unserer Leser, diese zu unterscheiden. Wenn
sie mehr wissen wollen: der Sourcecode dieser Website ist öffentlich
verfügbar. 

<h1>Ist das erlaubt?</h1>

Nach einschlägiger Beratung bin ich zu dem Schluß gekommen, dass es
auch 2013 noch erlaubt ist, auf Websites zu
verweisen. Selbstverständlich bin ich nicht verantwortlich dafür, was
andere Leute auf diesen schreiben.

<h1>Was kostet das?</h1>

Politische Parteien (inklusive ihrer Anhänger) können die Website
kostenfrei nutzen. Alle öffentlich zugänglichen Nachrichtenkategorien
sind kostenfrei einsehbar. Wenn Sie einen solchen Dienst
passwortgeschützt benutzen wollen, also den von ihnen trainierten
Filter exklusiv benutzen, werden Gebühren fällig.

