
<p>Nutzbare Kategorien:</p>

<ul>
<li><a href='/item/list/1/1'>Piraten</a>
<li><a href='/item/list/1/2'>Nicht-Piraten</a>
</ul>

<ul>
<li><a href='/item/list/2/3'>politisch</a>
<li><a href='/item/list/2/4'>unpolitisch</a>
</ul>

Und das <a href="https://plus.google.com/105340315173686656856" rel="publisher">Google+</a>-Blog zur Seite.